<div class="container" [class.sidebar-hidden]="hideSideBar()">
    <div class="header">
      Header
      <button class="menu-button" (click)="openSideBar()">
        button
      </button>
    </div>

    <div class="sidebar" [class.hidden]="!hideSideBar()">
      Sidebar
      
      <button class="sidebar-button" (click)="openSideBar()">
        button
      </button>
    </div>

    <div class="navbar1">
      Navbar 1
    </div>

    <div class="navbar2">
      Navbar 2
    </div>
    
    <div class="boxContainer">
      <div class="box card">
        Box 1
        <div>
          @for(item of getData(); track item){
              {{item.name}}
          }
        </div>
        <button (click)="updateDate()">
          update date
        </button>
      </div>

      <div class="box card">
        <div>
          {{ (currentDate()) | date }}
        </div>
      </div>

      <div class="box card">
        <div>
          {{ (currentDate()) | date : "EEEE yyyy-dd-MM hh:mm:ss.SSS OOOO" }}
        </div>
      </div>

      <div class="box card">
        <div>
          {{ (otherDate()) | date : "fullDate" }}
        </div>
        <div>

          <input
            type="text"
            (input)="updateEmail(($event.target).value)"
            placeholder="Enter your email"
          >
        </div>
        <div>
          @if (email() | custom) {
            <div>
              Correo válido
            </div>
          }

          @if (!(email() | custom)) {
            <div>
              Correo inválido
            </div>
          }
        </div>
      </div>
    </div>
</div>