<section class="recipe-detail">
    <div class="image">
        <img [src]="recipe().imgUrl" [alt]="recipe().name" width="300" />
    </div>
    <div class="name">
        @if (recipe().isFavorite) {
            <span class="favorite">★</span>
        } 
        {{ recipe().name }}
    </div>
    <div class="description">{{ recipe().description }}</div>

    <div class="butrons">
        <button class="plus" on-click="addServings()">
            +
        </button>
        <button class="minus" on-click="substractServings()">
            -
        </button>
    </div>
    <div class="servings">{{ servings() }}</div>

    <ul>
        @for (ingredient of adjustedIngredients(); track ingredient) {
            <li>{{ ingredient.name }}: {{ ingredient.quantity }}</li>
        }
    </ul>
</section>